<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

    <!-- Include the top menu -->
    <%- include('../componants/navbar') %>


<body class="font-sans bg-gray-100">

    <div class="flex">
        
        <!-- Include the side menu -->
        <%- include('../componants/sidemenu') %>

        

        <!-- Main Content -->
        <main class="flex-1 p-4">
            <div class="container mx-auto my-10">
                <h1 class="text-3xl font-bold mb-6">Student Lists</h1>

            <!-- Search bar -->
            <div class="mb-4">
                <form id="searchForm" action="/student/student_list" method="POST">
                    <label for="firstName" class="sr-only">Search:</label>
                    <input type="text" id="firstName" name="firstname" placeholder="First Name" class="border border-gray-300 px-2 py-1 rounded-md">

                    <label for="lastName" class="sr-only">Search:</label>
                    <input type="text" id="firstName" name="lastname" placeholder="Last Name" class="border border-gray-300 px-2 py-1 rounded-md">
                    
                    <label for="searchByEmail" class="sr-only">Search:</label>
                    <input type="search" id="searchByEmail" name="email" placeholder="Search by email" class="border border-gray-300 px-2 py-1 rounded-md" />
                    
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md ml-2">
                        Search
                    </button>
                </form>
            </div>

                <% if (students.length > 0) { %>
                    <table class="min-w-full border border-gray-300">
                        <thead>
                            <tr>
                                <th class="border border-gray-300 py-2 px-4 bg-gray-100">No.</th>
                                <th class="border border-gray-300 py-2 px-4 bg-gray-100">Name</th>
                                <th class="border border-gray-300 py-2 px-4 bg-gray-100">gender</th>
                                <th class="border border-gray-300 py-2 px-4 bg-gray-100">email</th>
                                <th class="border border-gray-300 py-2 px-4 bg-gray-100">Action</th>
                            </tr>
                        </thead>
                        <tbody>
    
                            <% students.forEach((student) => { %>
                                <% var name = student.firstname + ' ' + student.lastname; %>
                                <tr>
                                    <td class="border border-gray-300 py-2 px-4 text-center"><%= student.StudentID  %></td>
                                    <td class="border border-gray-300 py-2 px-4"><%= name %></td>
                                    <td class="border border-gray-300 py-2 px-4 text-center"><%= student.gender %></td>
                                    <td class="border border-gray-300 py-2 px-4 text-center"><%= student.address %></td>
                                    <td class="border border-gray-300 py-2 px-4 text-center flex space-x-4"> 
                                        <!-- Edit Button -->
                                        <button class="bg-blue-500 text-white px-4 py-2 rounded-md">
                                            Edit
                                        </button>
                                    
                                        <!-- Delete Button -->
                                        <button class="bg-red-500 text-white px-4 py-2 rounded-md">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            <% }); %>
            
                           
    
                        </tbody>
                    </table>
                <% } else { %>
                    <p class="text-gray-700">Sorry. No students found!!</p>
                <% } %>
                    
               
            </div>

          
        </main>
    </div>
    

  

</body>
</html>
